@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  /* Font size */
$fontLarge: 24px;
$fontMedium: 20px;
$fontRegular: 18px;
$fontSmall: 16px;
$fontMicro: 14px;

  /* Font weight */
$weightBold: 700;
$weightSemiBold: 600;
$weightRegular: 400;