@value makerShadow, makerWhite from '../../common/colors.css';

.slidersContainer{
  position:absolute;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.sliderContainer{
  width: 100%c;
  box-shadow: 0px 0px 6px 0px makerShadow;
  margin: 0.4em 0;
}