.backContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: $lightGray;
  .signUpContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: $maxWidth;
    padding: 10px 20px;
    margin: 50px 0 30px 0;
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px $shadow;
    @media (max-width: $mediaWidth) {
      width: 100%;
    }
    .title{
      margin: 20px;
      font-size: $fontLarge;
    }
    .signUpBox{
      width: 80%;
      margin: auto;
      padding: 5px 0;
      text-align: start;
      .subTitle{
        font-weight: $weightBold;
        font-size: $fontRegular;
      }
      .idCheckBtn{
        width: 70px;
        height: 30px;
        border-radius: 5px;
        background:$main;
        color: $white;
        font-size: $fontMicro;
      }
      .idCheck{
        background-color: rgb(192, 192, 192);
        cursor: default;
      }
      .input, .select, .radio{
        padding: 2px;
        margin: 3px 5px 3px 0px;
      }
      .radio{
        width: 30px;
      }
      .select{
        width: 60px;
      }    
      .star{
        color: $red;
      }
    }

    .singUpSubmit{
      width: 80%;
      height: 50px;
      border-radius: 5px;
      margin: 20px auto;
      background:$main;
      color: $white;
      letter-spacing: 10px;
      font-weight: $weightBold;
    }
    .noti{
      font-size: $fontMicro;  
      color: $white;
      text-align: start;
      display: none;
    }
    .active{
      display:block;
      color: $red;
    }
  }
}

